<p>
    <a href='#' onclick="document.location.reload()">Return to the main page</a>
</p>
<p>
    The questions and answers used in this site were originally used in the physical
    arcade-style "Heaven and Hell Machine" found at the <a href="http://boardwalkchapel.org">Boardwalk Chapel</a>
    in Wildwood, NJ, which is operated by the <a href="http://opc.org">Orthodox Presbyterian Church</a>.
</p>
<p>
    This site was created by <a href="http://caneyopc.org">Caney Orthodox Presbyterian Church</a>, and is
    free for you to use as an aid in presenting the gospel.  It is also 
    <a href="https://github.com/timblack1/heaven-and-hell-machine/">an open-source project on Github</a>,
    where you can add features you want, make feature requests, or report bugs.  Please add your contribution
    to make the Heaven and Hell Machine even better!
</p><p>
    For the present, details regarding the author, description, and license of image and audio files used 
    on this site can be found at the URLs listed below.  Some of the paintings' descriptions are interesting!
</p>
<p>
    If any files used in this site are used contrary to the terms of their license, please notify
    <a href="mailto:pastor@caneyopc.org">Pastor Tim</a> and we'll remove them promptly.
</p>
<p>The image files used in this site are as follows:</p>
{{#images}}
    <p>
        <a href="{{url}}">{{url}}</a>
    </p>
{{/images}}
<p>The audio files used in this site are as follows:</p>
{{#sounds}}
    <p>
        <a href="{{url}}">{{url}}</a>
    </p>
{{/sounds}}
