Both heaven and hell:
http://upload.wikimedia.org/wikipedia/commons/c/c6/Broad_and_Narrow_Road.jpg
http://upload.wikimedia.org/wikipedia/commons/b/b2/Der_breite_und_der_schmale_Weg_2008.jpg
http://media-cache-ak0.pinimg.com/originals/6e/a9/08/6ea9083699ec2b242a4738a9a3cfc881.jpg
http://upload.wikimedia.org/wikipedia/commons/f/fb/The_Ladder_of_Divine_Ascent.jpg
http://upload.wikimedia.org/wikipedia/commons/2/26/Vank_Cathedral_-_Heaven-Earth-Hell_fresco.jpg
Heaven:
https://farm3.staticflickr.com/2120/1589654736_c27a8d74ef_b.jpg
http://upload.wikimedia.org/wikipedia/commons/c/c6/We%27ll_Meet_in_the_Heaven.jpg
http://upload.wikimedia.org/wikipedia/commons/d/d2/Paradiso_Canto_31.jpg
http://upload.wikimedia.org/wikipedia/commons/c/ce/St._Benedict%27s_triumphal_ascent_to_heaven_by_Johann_Michael_Rottmayr_-_Melk_Abbey_Austria.jpg
http://upload.wikimedia.org/wikipedia/commons/e/ed/White_Heaven_Beach_coast_IMG_2862.JPG
http://upload.wikimedia.org/wikipedia/commons/b/bf/Stairway_to_heaven_%28156690123%29.jpg
http://s0.geograph.org.uk/geophotos/03/46/75/3467510_b5c7aa3f.jpg
heaven-2327_640.jpg
sunset-85359_640.jpg
sky-314475_640.jpg
https://farm6.staticflickr.com/5234/5852336142_12137f4002_b.jpg
https://farm3.staticflickr.com/2718/5852336158_0de8cd3c57_b.jpg
https://farm4.staticflickr.com/3218/5852336166_2b3e99220c_z.jpg
https://farm3.staticflickr.com/2604/5732559941_30eeca894c_z.jpg
https://farm6.staticflickr.com/5304/5732559953_f9d125b27a_z.jpg
heaven-22116_640.jpg
http://farm8.staticflickr.com/7143/6621135403_e57451ca67_b.jpg
https://farm4.staticflickr.com/3434/3305754907_16d587c542_b.jpg
Hell:
http://upload.wikimedia.org/wikipedia/commons/5/50/Paradise_Lost_10.jpg
http://upload.wikimedia.org/wikipedia/commons/b/b8/MedinaPL3.jpg
http://upload.wikimedia.org/wikipedia/commons/9/95/Sin-Death-and-the-Devil-Gillray.jpeg
http://upload.wikimedia.org/wikipedia/commons/9/90/GustaveDoreParadiseLostSatanProfile.jpg
http://upload.wikimedia.org/wikipedia/commons/b/b8/Milton_paradise.jpg
http://upload.wikimedia.org/wikipedia/commons/5/57/Paradise_Lost_5.jpg
http://upload.wikimedia.org/wikipedia/commons/4/42/Henry_Fuseli_-_The_Peasant%27s_Dream%2C_Paradise_Lost%2C_Book_1%2C_781-8_-_Google_Art_Project.jpg
http://upload.wikimedia.org/wikipedia/commons/d/da/Bartolomeo_Di_Fruosino_-_Inferno%2C_from_the_Divine_Comedy_by_Dante_%28Folio_1v%29_-_WGA01339.jpg
http://upload.wikimedia.org/wikipedia/commons/e/e5/Stradano_Inferno_Canto_09.jpg
http://images.cdn.fotopedia.com/flickr-9615891552-original.jpg
http://upload.wikimedia.org/wikipedia/commons/6/61/Jheronimus_Bosch_Hell_%28detail%29.jpg
http://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Darvasa_gas_crater_panorama.jpg/1280px-Darvasa_gas_crater_panorama.jpg
http://upload.wikimedia.org/wikipedia/commons/thumb/6/65/The_Door_to_Hell.jpg/1024px-The_Door_to_Hell.jpg
http://upload.wikimedia.org/wikipedia/commons/0/0f/Hortus_Deliciarum_-_Hell.jpg
http://upload.wikimedia.org/wikipedia/commons/e/ea/Hell-fresco-from-Raduil.jpg
http://upload.wikimedia.org/wikipedia/commons/c/c5/Hel_%281889%29_by_Johannes_Gehrts.jpg
http://upload.wikimedia.org/wikipedia/commons/8/8b/Dore_woodcut_Divine_Comedy_01.jpg
http://upload.wikimedia.org/wikipedia/commons/d/d9/Folio_108r_-_Hell.jpg
http://upload.wikimedia.org/wikipedia/commons/d/d7/Church_of_Debra_Berhan_Selassie_-_Paintings_05.jpg
http://upload.wikimedia.org/wikipedia/commons/9/93/Brooklyn_Museum_-_The_Bad_Rich_Man_in_Hell_%28Le_mauvais_riche_dans_l%27Enfer%29_-_James_Tissot_-_overall.jpg
http://upload.wikimedia.org/wikipedia/commons/e/ed/Fra_Angelico_010.jpg
http://upload.wikimedia.org/wikipedia/commons/7/70/William-Adolphe_Bouguereau_%281825-1905%29_-_Dante_And_Virgil_In_Hell_%281850%29.jpg
http://upload.wikimedia.org/wikipedia/commons/0/08/019Visita_al_infierno.jpg
http://upload.wikimedia.org/wikipedia/commons/9/9e/Hell_LavaPit.JPG
http://upload.wikimedia.org/wikipedia/commons/f/f0/Harrowing_of_Hell_Medium_Res.jpg
http://upload.wikimedia.org/wikipedia/commons/5/50/Bosch_painting_of_Hell_%28582x800%29.jpg
http://fc09.deviantart.net/fs71/f/2011/058/a/3/gates_of_hell_texture_by_valerianastock-d3aia42.jpg
http://fc07.deviantart.net/fs27/i/2008/117/9/5/The_stairway_to_hell_by_XKaitoX.jpg
http://i.images.cdn.fotopedia.com/flickr-8031717781-original/Countries_of_the_World/Asia/Turkmenistan/Gates_of_Hell_008.jpg
fire-298105_640.jpg
fire-171229_640.jpg
fire-175966_640.jpg
fire-184885_640.jpg
https://farm9.staticflickr.com/8170/8031716278_70f3947573_c.jpg
