html, body {
/*     background: url('../img/pattern_130.gif'); */
    background: #000;
    height: 100%;
    margin: 0;
}
/* allow background images to be faded in */
.background {
    min-height: 100%;
    content:"";
    opacity:1;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position:absolute;
}

.container {
  position: relative;
  background: #fff;
  margin-top: -10px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  color: white;
  /* transparent background, from http://hammerspace.co.uk/2011/10/cross-browser-alpha-transparent-background-css */
    background:rgb(170,170,170);
	background: transparent\9;
	background:rgba(170,170,170,0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99aaaaaa,endColorstr=#99aaaaaa);
	zoom: 1;
.container:nth-child(n) {
	filter: none;
}}

a {
    color:#b1d9f9;
}
a:hover {
    color:#7fc7ff;
}

/* ==========================================================================
   Hoodie Sign In / Sign Up / Sign out stylings
   ========================================================================== */

/* hide contents until we know if user is signed in or not */
body .hoodie-account-signedin,
body .hoodie-account-signedout,
body .hoodie-account-error {
  display: none;
}

html[data-hoodie-account-status=signedin]  .hoodie-account-signedin,
html[data-hoodie-account-status=error]     .hoodie-account-error,
html[data-hoodie-account-status=signedout] .hoodie-account-signedout {
  display: block;
}

.hoodie-accountbar {
  position: absolute;
  top: 20px;
  right: 6%;
  float:right;
}

.content {
  padding: 10px;
  /* width: 380px; */
}

.copy {
  padding: 10px;
  margin: 30px 0 0;
  border-radius: 5px 5px 0 0;
  text-align:center;
}
.jumbotron,
.copy {
  background: #EBE7DA;
  margin: 0;
  /* border-radius: 0; */
    /* transparent background */
    background:rgb(68,68,68);
	background: transparent\9;
	background:rgba(68,68,68,0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99444444,endColorstr=#99444444);
	zoom: 1;
}
.jumbotron:nth-child(n), .copy:nth-child(n) {
	filter: none;
}
.copy p {
  margin: 0;
}
.score {
    text-align: center;
}
.subtitle {
    position:relative;
    top:.5em
}
.broad-narrow {
    border: .5em solid gray;
    border-radius: 1em;
    padding: .5em;
    position:relative;
    top:-.5em
}
.answer, .score {
    color:lightgray;
    border-radius:1em;
    padding:1em;
    margin-top:1em;
    background:white;
}
.answer h3 {
    margin-top: 0.3em;
}
