./good/150957__unchaz__audience-cheering.mp3
./good/221567__alaskarobotics__cheering-and-clapping-crowd-2.wav
./good/107008__pennyhatemachine__angels01.ogg
./good/214989__amishrob__baseballhitandcrowdcheer.mp3
./good/66136__theta4__ding30603-spedup.wav
./good/221869__thatjeffcarter__amazing-grace-beatitudes-chapel.wav
./good/221568__alaskarobotics__cheering-and-clapping-crowd-1.wav
./good/212541__misstickle__indian-bell-chime.wav
./good/107009__pennyhatemachine__angels02.ogg
./good/51743__erkanozan__applause.wav
./good/90964__timbre__85245-pycckuu20032003-angel-2-tweaked.wav
./good/193064__soundslikewillem__crowd-after-encore.wav
./bad/168303__carmsie__pb-it-is-time.wav
./bad/101934__juskiddink__dry-thunder2.wav
./bad/16118__incarnadine__dark-reflection-monologue.wav
./bad/97976__oldedgar__jared-s-gate-to-hell.aif
./bad/182789__qubodup__snake.flac
./bad/26727__leady__hellfire-2-no-baby-loop.wav
./bad/142344__oneirophile__aggressive-guard-dogs.wav
./bad/47834__tc630__hellcenteroftheearth.wav
./bad/193170__netaj__thunder.wav
./bad/194364__dave-welsh__thunder-clap-owb-ky-441x16.wav
./bad/121565__juskiddink__dogs-growling.wav
./bad/168304__carmsie__pb-payback-v2.wav
./108904__argitoth__10-11-14-demons-and-angels.flac
./74274__pycckuu20032003__angel.mp3
