<h3>Question {{number}}:</h3>
<p>{{{text}}}</p>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary true">
    <input type="radio" name="answer" id="true"> True
  </label>
  <label class="btn btn-primary false">
    <input type="radio" name="answer" id="false"> False
  </label>
</div>
<div class='answer' style='display:none'>
    <h3><span class='correct'></span>! In the Bible, God says,</h3>
    <div>
        {{#scripture}}
            <p>{{{text}}}</p>
            <p class='reference'>- {{reference}}</p>
        {{/scripture}}
    </div>
</div>