<div class='destination'>
    <h4>You are on the path that leads to: {{destination}}</h4>
    <p class='why hidden'>Why?  Because of your answer{{s}} to question{{s}} {{numbers}}.  Turn back now!</p>
</div>
<button type="button" class='ask_pastor_container hidden btn btn-danger btn-lg'>
    <p>What must I do to be saved?</p>
    <p>Ask a local pastor</p>
</button>
<button type="button" class='join_church_container hidden btn btn-success btn-lg'>
    <p>I want to join a biblical church!</p>
    <p>Find a local church</p>
</button>
